#compare-pokemon {
  padding: 0px 5px;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  overflow: auto;
  .status {
    background-color: #fff;
    border: 0.5px solid #777;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    position: relative;
    .status-summary-wrap {
      display: flex;
      .status-summary {
        width: 100%;
        .name {
          text-transform: capitalize;
        }
        .stats {
          display: flex;
          flex: 1;
          flex-direction: column;
          .stat {
            display: flex;
            flex: 1;
            .stat-label {
              display: flex;
              flex: 1;
              font-size: 7px;
              text-transform: capitalize;
            }
            .stat-value-text {
              display: flex;
              flex: 2;
              font-size: 7px;
              text-transform: capitalize;
            }
            .stat-value {
              display: flex;
              flex: 2;
              height: 8px;
              margin-bottom: 3px;
              &:last-child {
                margin-bottom: none;
              }
              .stat-value-bg {
                width: 100%;
                height: 100%;
                background-color: #ccc;
                overflow: hidden;
                .stat-value-number {
                  color: #fff;
                  font-size: 6px;
                  text-align: center;
                  height: 100%;
                  background-color: #3498db;
                }
              }
            }
          }
        }
      }
    }
  }
}
